[Desktop Entry]
Encoding=UTF-8
Version=8.0.1
Type=Application
Terminal=false
Exec="/opt/xdman/xdm-app" -m
Name=Xtreme Download Manager
Comment=Xtreme Download Manager
Categories=Network;
Icon="/opt/xdman/xdm-logo.svg"