<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir23EEB6A7E0429F277985FA4BC5B2C64F" Name="Lang" />
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64" />
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86" />
            <Directory Id="dir581A49B5040D3CDF8EA353C58D34FBEE" Name="XDM.App.Host" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="NET460">
            <Component Id="cmp9A67C55C3FC8E5905A5497F28DAACD33" Directory="INSTALLFOLDER" Guid="{C1D83D63-4D0A-4AB2-8380-2783AB8028B3}">
                <File Id="fil3805CF0687ADB8D2668E229058AE1384" KeyPath="yes" Source="SourceDir\ffmpeg-x86.exe" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="{D8361E9D-B546-4806-96E1-119E79CFA72A}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="SourceDir\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Directory="INSTALLFOLDER" Guid="{CD4C248B-2712-448A-A9E8-61E4DAA7E91C}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="SourceDir\System.Buffers.dll" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Directory="INSTALLFOLDER" Guid="{DCD36C6C-4782-42CC-9562-FD448F9930A0}">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="SourceDir\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Directory="INSTALLFOLDER" Guid="{6317CA2E-1D70-424D-8A2A-B014AB64E3C1}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="SourceDir\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmp8492AA35743AF7D1FE0E1073BDC3690C" Directory="INSTALLFOLDER" Guid="{47BFBF5A-B198-4376-8BBE-620BE81D8CBA}">
                <File Id="filDDF715835F59E54E2242D8F2A1F06D21" KeyPath="yes" Source="SourceDir\xdm-app.exe" />
            </Component>
            <Component Id="cmp107C972194DAC555B831433C1BE8A55E" Directory="INSTALLFOLDER" Guid="{8D33BBE9-5B61-43C9-A630-25BD8EB7063C}">
                <File Id="fil9972EF0C3684120FF4F7910B0FE0713C" KeyPath="yes" Source="SourceDir\xdm-app.exe.config" />
            </Component>
            <Component Id="cmp7C78859AEC6DE38D8F2F26971835D172" Directory="INSTALLFOLDER" Guid="{5EFBB93A-F8A1-4361-869F-E63FF4123446}">
                <File Id="fil8F57C6D7E5A7EBFFEFAB56B377646C3F" KeyPath="yes" Source="SourceDir\xdm-logo.ico" />
            </Component>
            <Component Id="cmp9426BCE05D96E362CE2307030AD0B787" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{AE5D0F67-209B-4CB7-A477-FB1EB7635693}">
                <File Id="fil3B509627F3579E5E798429B7AF50A89F" KeyPath="yes" Source="SourceDir\Lang\Arabic.txt" />
            </Component>
            <Component Id="cmp7B196C93DF1AC26A0F6261DD7D3E9F6F" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{094F8D1B-5DF4-4521-83FD-7CF02BB513FE}">
                <File Id="fil157F89BAE67E3A9E11E73A71B0F1206A" KeyPath="yes" Source="SourceDir\Lang\Chinese simplified.txt" />
            </Component>
            <Component Id="cmp5DFF65F5D314309C73C3D061EDD2C177" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{63406B78-AF1D-4CBD-8FBA-04A094084A99}">
                <File Id="filE7265D5BBCF21F04A321C9A866BCA391" KeyPath="yes" Source="SourceDir\Lang\Chinese Traditional.txt" />
            </Component>
            <Component Id="cmpFB7FD44428565C0D8C2D0F19F6CCE37E" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{EB06A546-23E7-4A87-B0E7-3C4789D1E0A6}">
                <File Id="fil84779F3FA1D0C0610A31D04BE6547FB7" KeyPath="yes" Source="SourceDir\Lang\Czech.txt" />
            </Component>
            <Component Id="cmpF6AAD20A7508C58E13E4323B6D0EA609" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{EF659A66-F727-466B-9CF3-4B0650083CD5}">
                <File Id="filF4561622A7750461A403BF4D1377E957" KeyPath="yes" Source="SourceDir\Lang\English--.txt" />
            </Component>
            <Component Id="cmp7400F54F0576F49D68AC3954395E05AE" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{6BDE1639-86DE-4E42-96BF-7CF0D448A475}">
                <File Id="fil7A4FE2BF32A20196F904D6C009D9FB8C" KeyPath="yes" Source="SourceDir\Lang\English.txt" />
            </Component>
            <Component Id="cmpF342CB82DC8C9150C3A8FBA6BFFB1A41" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{9879A775-2382-4711-9111-B85AA410367C}">
                <File Id="fil25EEDE6A5DCF776B313D0BBA9C0914C2" KeyPath="yes" Source="SourceDir\Lang\Farsi-Persian.txt" />
            </Component>
            <Component Id="cmp8233B5293700BF34AE39BFAF5EF0523B" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{AC3E18F7-4DF0-4B71-9CB5-2086702E8A13}">
                <File Id="filA4D0710917BEEC0841891CE399C7B1EC" KeyPath="yes" Source="SourceDir\Lang\French.txt" />
            </Component>
            <Component Id="cmp8566A7FD0AEE51D2D3EEFFCC020BE424" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{4D228727-33F9-4880-89FA-8E2CDE3EC4DA}">
                <File Id="fil965184AEB44A5FE11BB35459867D4C9C" KeyPath="yes" Source="SourceDir\Lang\German.txt" />
            </Component>
            <Component Id="cmp547750417005BF0B3DBAA64524748CD2" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{EDDF529D-06FC-4B88-AC72-91C74160C104}">
                <File Id="fil468608C1B037F5E412A6FA6FD130D11A" KeyPath="yes" Source="SourceDir\Lang\Hungarian.txt" />
            </Component>
            <Component Id="cmp0FC0C296CCAA630B2EE72A15B72C6F0D" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{B6299C5F-79B6-40B9-9B60-E7C622A30665}">
                <File Id="filFF8D5E5AF4D885290C12D7E1B3998D7D" KeyPath="yes" Source="SourceDir\Lang\index.txt" />
            </Component>
            <Component Id="cmp5CAA8F8305F46C5D55A72A860F79BEAC" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{0515ABEE-964A-4FB1-95BA-5891F8099D67}">
                <File Id="fil6617CADEB631275A14B147DA6FA50C62" KeyPath="yes" Source="SourceDir\Lang\Indonesian.txt" />
            </Component>
            <Component Id="cmp78CE6A1259C2075D6CAE21A5FBE6EDC0" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{4C112623-A677-4379-9382-81CE6330C286}">
                <File Id="fil47A1A104626B5B4FF4B7FA3E6BC125DF" KeyPath="yes" Source="SourceDir\Lang\Italian.txt" />
            </Component>
            <Component Id="cmp63F3E87FE6260082488A88212B113449" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{397D5F20-BBF9-45B1-844D-8DCC2398160F}">
                <File Id="filB45BB61C1727323B0EBF315AF05DDF45" KeyPath="yes" Source="SourceDir\Lang\Korea.txt" />
            </Component>
            <Component Id="cmp1A43EBB73C94146D30F59D2618226CC9" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{23A8A8F7-E9A3-43AB-AE8F-38FB2691A308}">
                <File Id="fil9ABB230DD444E62F44281C2BAEB53DB2" KeyPath="yes" Source="SourceDir\Lang\Malayalam.txt" />
            </Component>
            <Component Id="cmp8F9540EB92821A553FF7EE5D8AAD6236" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{5B1964CA-8444-4940-BF60-08D0CF5B5372}">
                <File Id="filC4AFAD3D8D71791392129A04FAAADBC7" KeyPath="yes" Source="SourceDir\Lang\Nepali.txt" />
            </Component>
            <Component Id="cmp60CBD8B73AF859E9DDB6F3383BC76475" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{CCA0438D-08E6-46A4-B0A2-4FEC698BB867}">
                <File Id="fil6011533B1CD6AFE69FD5137F8099047E" KeyPath="yes" Source="SourceDir\Lang\Polish.txt" />
            </Component>
            <Component Id="cmp1B6B22063AE975C2ADE5BE653B8903FF" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{0121F936-FDE2-478F-A139-F481EA50BEC8}">
                <File Id="filA467DF316C8EEB0106594ECF31D3310C" KeyPath="yes" Source="SourceDir\Lang\Portuguese Brazil.txt" />
            </Component>
            <Component Id="cmpD56571F9A6B137E66D6375464A4F0052" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{B27C46CE-11A6-4119-962E-74D67063822A}">
                <File Id="filAB32EDF85F57EEB8649D9C72CBAA55D3" KeyPath="yes" Source="SourceDir\Lang\Romanian.txt" />
            </Component>
            <Component Id="cmp60A17340B160A98ECEF912524DD9D77C" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{257A0DC5-8A7C-42B7-9708-0B8F16587E35}">
                <File Id="filCBD34802CCD7D1DEAF744B64D2CB75A2" KeyPath="yes" Source="SourceDir\Lang\Russian.txt" />
            </Component>
            <Component Id="cmp46FBEBE54D8A4109223F21EB8D086FE8" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{3EC2B665-81B2-4D1C-AA24-96495169514F}">
                <File Id="fil09B6DCA0BFD8680DF85136C005AFE024" KeyPath="yes" Source="SourceDir\Lang\Serbian - Latin.txt" />
            </Component>
            <Component Id="cmpE88FC7FB91FFEBA9B34012C0066B0D60" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{4F300B30-1FD3-4B19-A158-569874F9269F}">
                <File Id="fil076997B80B46F2515BBA60EEE5CAFDED" KeyPath="yes" Source="SourceDir\Lang\Serbian Cyrillic.txt" />
            </Component>
            <Component Id="cmp3938EC8796821E332B87F52341C499F6" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{2015AD9F-0EB1-4ECE-B3E7-605FE1CBEF47}">
                <File Id="filB43E90AFC00E9F14144DC77EBC6AA261" KeyPath="yes" Source="SourceDir\Lang\Spanish.txt" />
            </Component>
            <Component Id="cmp29266283663E18C80529F748A6CB998A" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{A8710C50-1FCB-45E0-9439-580C58A4F800}">
                <File Id="filD2E0CCE0BCEA46557A7B571AF6C8203D" KeyPath="yes" Source="SourceDir\Lang\Traditional Chinese - Taiwan.txt" />
            </Component>
            <Component Id="cmpCC027386344B011B1601E96F1603344F" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{214A6B2C-39B9-45AE-B9B1-0FA9F3FC4A09}">
                <File Id="fil0699019E1FCF04A5F76E75AD342B7C15" KeyPath="yes" Source="SourceDir\Lang\Turkish.txt" />
            </Component>
            <Component Id="cmp41169E2708BB0596E0767D1B026A45F6" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{3019E98C-82E0-4B75-81D2-0F8CCBE5F3B5}">
                <File Id="filA12094ABB9382C26B8648C36AD88B784" KeyPath="yes" Source="SourceDir\Lang\Ukrainian.txt" />
            </Component>
            <Component Id="cmp252782049908191663E5B9078A23532B" Directory="dir23EEB6A7E0429F277985FA4BC5B2C64F" Guid="{27E25FFA-3382-431B-918B-F1E713D5CFC1}">
                <File Id="fil85ACDC35624353BFAE993844C52276AB" KeyPath="yes" Source="SourceDir\Lang\Vietnamese.txt" />
            </Component>
            <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Directory="dir43FCCFA109FBF584D9155DCE31E452EB" Guid="{64715937-ECD8-4295-863F-AF6F8ECA319E}">
                <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="SourceDir\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Directory="dir97F42FF68945B97AAE670945C4FDAE93" Guid="{4EEE8716-6093-4035-8BD8-4CCD7402DC50}">
                <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="SourceDir\x86\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmp83C676128DA32AD53AC9AAF05173102A" Directory="dir581A49B5040D3CDF8EA353C58D34FBEE" Guid="{21790F96-774E-405B-AD7D-1C04F3F71F56}">
                <File Id="filC09923B7C86A0D5449067879FEA2DE7D" KeyPath="yes" Source="SourceDir\XDM.App.Host\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp411DEC51439C2C0815A46E96C07CE3A9" Directory="dir581A49B5040D3CDF8EA353C58D34FBEE" Guid="{5EF017AA-525C-4FD4-82F9-C490135D5825}">
                <File Id="filA1DD8C00977EBDDB87A0291F938A7E0B" KeyPath="yes" Source="SourceDir\XDM.App.Host\xdm-app-host.exe" />
            </Component>
            <Component Id="cmpA9F7F8A96AC76AF59939052AFD6DD55F" Directory="dir581A49B5040D3CDF8EA353C58D34FBEE" Guid="{CE8C0BD9-F342-48B8-9868-55F37E613A81}">
                <File Id="filED4C518D478371541564A47E87BF905F" KeyPath="yes" Source="SourceDir\XDM.App.Host\xdm-app-host.exe.config" />
            </Component>
            <Component Id="cmp1F97783F086B4A4E04E079DB2A69FED8" Directory="dir581A49B5040D3CDF8EA353C58D34FBEE" Guid="{A7E52B61-C654-4770-97BF-ADFF045D0E06}">
                <File Id="fil77DBBAF52BFC8CD5AD38E6E629FC56F5" KeyPath="yes" Source="SourceDir\XDM.App.Host\xdmff.native_host.json" />
            </Component>
            <Component Id="cmp8D510AF6F4EA3B0EE99E991006D275B7" Directory="dir581A49B5040D3CDF8EA353C58D34FBEE" Guid="{0734102D-EEB2-4087-9745-83CBA1D48A3A}">
                <File Id="fil008653123F0059DBF51B413BD36586C9" KeyPath="yes" Source="SourceDir\XDM.App.Host\xdm_chrome.native_host.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>