<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap iot uap3 desktop">

  <Identity
    Name="56617subhra74.XtremeDownloadManager-XDM"
    Publisher="CN=CE459F77-0688-4F4F-B36F-5657C1A1A02C"
    Version="8.0.82.0" />

  <Properties>
    <DisplayName>Xtreme Download Manager - XDM</DisplayName>
    <PublisherDisplayName>Subhra Das Gupta</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Xtreme Download Manager - XDM"
        Description="XDMMsixPackaging"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="XDM" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension
          Category="windows.protocol">
          <uap3:Protocol
            Name="xdm+app"
            Parameters="%1" />
        </uap3:Extension>
        <uap3:Extension Category="windows.appExecutionAlias"
                    Executable="XDM.Wpf.UI\xdm-app.exe"
                    EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="xdm-app.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="XDM.Msix.AutoLaunch\xdm-launcher.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="XDMStartupTask"
            Enabled="true"
            DisplayName="Xtreme Download Manager" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <iot:Capability Name="systemManagement"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="musicLibrary"/>
  </Capabilities>
</Package>
